<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Proyecto Estacionamiento</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
</nav>

<div class="container-fluid mt-5">

	<div class="row">
		<div class="col-sm-3" *ngFor="let i of lista; let indice= index">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Estacio N {{indice+1}}</h5>
					<p class="card-text">
						Estatus:
						<b *ngIf="i == 1">Ocupado</b>
						<b *ngIf="i == 0">Disponible</b>

					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-sm-6">
			<button type="button" class="btn btn-lg btn-outline-success" (click)="openDoor()">
				Abrir Puerta
			</button>
		</div>
	</div>


</div>